
# Generated binaries and dependency files #
###########################################
bin/
lib/
obj/

# User make files #
###################
custom.mk
apps.mk

# KDevelop files #
# ############## #
.kdev4/
.kdev_include_paths


