
# Generated binaries and dependency files #
###########################################
build/linux/bin/
build/linux/lib/
build/linux/obj/
build/linux/test/
build/xen/bin/
build/xen/include/
build/xen/lib/
build/xen/obj/
build/xen/test/
bin/
lib/
obj/

# User make files #
###################
build/linux/custom-flags.mk
build/linux/custom-vars.mk
build/xen/custom-flags.mk
build/xen/custom-vars.mk

# KDevelop files #
# ############## #
.kdev4/
.kdev_include_paths
.directory
.*-swp



