#  -*- mode: python; -*-
#============================================================================
# Python configuration setup for 'xm create'.
# This script sets the parameters used when a domain is created using 'xm create'.
# You use a separate script for each domain you want to create, or
# you can set the parameters for the domain on the xm command line.
#============================================================================

#----------------------------------------------------------------------------
# Kernel image file.
kernel = "../../bin/phold-llamaWARPED"

extra = "-configuration sequential.config -simulate LargePHOLD -simulateUntil 100000 --rank 0 --hostTable 1 ff:ff:ff:ff:ff:ff 1"

# Initial memory allocation (in megabytes) for the new domain.
memory = 1024

# A name for your domain. All domains must have different names.
name = "singleWARPED"

on_crash = 'destroy'

cpus="2"

# test read-only file to parse
disk = [ 'file:sequential.config,sda,r', 'file:LargePHOLD,sdb,r' ]

