#  -*- mode: python; -*-
#============================================================================
# Python configuration setup for 'xm create'.
# This script sets the parameters used when a domain is created using 'xm create'.
# You use a separate script for each domain you want to create, or
# you can set the parameters for the domain on the xm command line.
#============================================================================

#----------------------------------------------------------------------------
# Kernel image file.
kernel = "../../../../../build/xen/bin/apps/mpich-3.0.4/examples/hellow.gz"

# mapped to program args
extra = ""

# Initial memory allocation (in megabytes) for the new domain.
memory = 64

# A name for your domain. All domains must have different names.
# set this on the command line
# name = "hellow-0.4"

on_crash = 'destroy'
