#  -*- mode: python; -*-
#============================================================================
# Python configuration setup for 'xm create'.
# This script sets the parameters used when a domain is created using 'xm create'.
# You use a separate script for each domain you want to create, or
# you can set the parameters for the domain on the xm command line.
#============================================================================

#----------------------------------------------------------------------------
# Kernel image file.
kernel = "../bin/i82574.gz"

# Initial memory allocation (in megabytes) for the new domain.
memory = 2048

# A name for your domain. All domains must have different names.
name = "i82574-xen"

on_crash = 'destroy'

# Which device is this domain controlling
pci = [ '01:00.0' ]
