#  -*- mode: python; -*-
#============================================================================
# Python configuration setup for 'xm create'.
# This script sets the parameters used when a domain is created using 'xm create'.
# You use a separate script for each domain you want to create, or
# you can set the parameters for the domain on the xm command line.
#============================================================================

#----------------------------------------------------------------------------
# Kernel image file.
kernel = "../bin/xen/latency-llamaNET.gz"

extra = "250000 8 1 6"
# extra = "250000 256 1 6"
# extra = "250000 512 1 6"
# extra = "250000 768 1 6"
# extra = "250000 1024 1 6"
# extra = "250000 1280 1 6"
# extra = "250000 1536 1 6"
# extra = "250000 1792 1 6"
# extra = "250000 2048 1 6"
# extra = "250000 2304 1 6"
# extra = "250000 2560 1 6"
# extra = "250000 2816 1 6"
# extra = "250000 3072 1 6"
# extra = "250000 3328 1 6"
# extra = "250000 3584 1 6"
# extra = "250000 3840 1 6"

# Initial memory allocation (in megabytes) for the new domain.
memory = 1024

# A name for your domain. All domains must have different names.
name = "latency-llamaNET"

on_crash = 'destroy'

cpus="2"
