#  -*- mode: python; -*-
#============================================================================
# Python configuration setup for 'xm create'.
# This script sets the parameters used when a domain is created using 'xm create'.
# You use a separate script for each domain you want to create, or
# you can set the parameters for the domain on the xm command line.
#============================================================================

#----------------------------------------------------------------------------
# Kernel image file.
kernel = "../../build/xen/bin/apps/IMB.gz"

extra = "PingPongSpecificSource PingPingSpecificSource SendRecv Alltoall --rank 11 --hostTable 16 00:1e:8c:7e:d4:1b 1 00:1e:8c:91:a4:45 1 00:1e:8c:91:a4:99 1 00:1e:8c:91:a4:95 1 00:1e:8c:91:a4:93 1 00:1d:60:b1:a0:4b 1 00:1e:8c:91:a4:47 1 00:1d:60:99:90:bb 1 00:1d:60:b1:a0:2d 1 00:1d:60:b1:a1:1f 1 00:1d:60:b1:a1:2f 1 00:1d:60:b1:a1:61 1 00:1d:60:b1:a1:63 1 00:1e:8c:7e:d4:0f 1 00:1e:8c:7e:d4:13 1 00:1e:8c:91:a3:eb 1 --blocking"

# Initial memory allocation (in megabytes) for the new domain.
memory = 1024

# A name for your domain. All domains must have different names.
name = "IMB"

on_crash = 'destroy'

cpus="2"
